@if (open) {
  <div class="modal-overlay">
    <div class="modal">
      <h3 class="modal__title">{{ title }}</h3>

      <div class="crud-form">
        @for (field of fields; track field.key) {
          @if (!isHidden(field)) {
          <div class="field" [class.field--checkbox]="field.type === 'checkbox'">
            @if (field.type === 'checkbox') {
              <label class="field__checkbox">
                <input
                  type="checkbox"
                  [(ngModel)]="model[field.key]"
                  [name]="field.key"
                />
                {{ field.label }}
              </label>
            } @else {
              <span>{{ field.label }}</span>
              @if (field.type === 'select') {
                <select
                  [ngModel]="model[field.key]"
                  (ngModelChange)="onFieldChange(field, $event)"
                  [name]="field.key"
                >
                  @for (opt of getOptions(field); track opt.value) {
                    <option [value]="opt.value">{{ opt.label }}</option>
                  }
                </select>
              } @else if (field.type === 'autocomplete') {
                <input
                  type="text"
                  [attr.list]="field.key + '-list'"
                  [ngModel]="model[field.key]"
                  (ngModelChange)="onFieldChange(field, $event)"
                  [name]="field.key"
                  [required]="!!field.required"
                  autocomplete="off"
                />
                <datalist [id]="field.key + '-list'">
                  @for (opt of getOptions(field); track opt.value) {
                    <option [value]="opt.label"></option>
                  }
                </datalist>
              } @else {
                <input
                  [type]="field.type"
                  [step]="field.step ?? null"
                  [ngModel]="model[field.key]"
                  (ngModelChange)="onFieldChange(field, $event)"
                  [name]="field.key"
                  [required]="!!field.required"
                  [readonly]="isReadonly(field)"
                />
              }
            }
          </div>
          }
        }
      </div>

      @if (note) {
        <p class="modal__note">{{ note }}</p>
      }

      @if (errors.length) {
        <ul class="modal__error-list">
          @for (err of errors; track err) {
            <li>{{ err }}</li>
          }
        </ul>
      }

      <div class="modal__actions">
        <button type="button" class="btn btn--ghost" (click)="cancel()">Cancelar</button>
        <button type="button" class="btn btn--primary" (click)="submit()">Salvar</button>
      </div>
    </div>
  </div>
}
